@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #288fb4;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  padding: 38px;
  margin-left: 469px;
}

.form {
  width: 360px;
  height: 596px;
  background-color: #fff;
  padding: 20px;
  margin-left: 375px;
}

img {
  width: 104px;
  height: 65px;
  margin-left: 5rem;
}

.pay {
  font-family: "Roboto";
  font-weight: 700;
}

input[type="month"] {
  font-size: 16px;
}
